<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>О нас</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Навигация -->
<div th:insert="nav"></div>

<div class="container mt-5">
  <h1>О нас</h1>
  <p>Мы — современная автомастерская, предоставляющая широкий спектр услуг по ремонту и обслуживанию автомобилей. Наша команда профессионалов готова помочь вам с любыми вопросами.</p>
  <p>Мы работаем с 2010 года и за это время заслужили доверие тысяч клиентов.</p>
  <p>Мы предлагаем полный спектр услуг по ремонту и техобслуживанию легковых авто.
    У нас работают профессиональные мастера, которые уже не первый год чинят неисправности, производят ремонт и замену запчастей, обслуживание всей ходовой части автомобиля. Мы специализируемся на любых легковых автомобилях, независимо от марки, модели, года выпуска, типа двигателя и наличии современных электронных систем.</p>
</div>

<!-- Footer -->
<div th:insert="~{footer}"></div>
</body>
</html>